<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="infocorp.TITA.DataBasesAcces.Properties.Settings.baseLocalConnectionString"
            connectionString="Data Source=PIS-E883674FF42\SQLEXPRESS;Initial Catalog=baseLocal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>