<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Infocorp.TITA.DataBaseAccess.Properties.Settings.baseLocalConnectionString1"
            connectionString="Data Source=titavm.tita.pis\SQLEXPRESS;Initial Catalog=baseLocal;Persist Security Info=True;User ID=titadb;Password=titadb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>