<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="tita@pis.com">
        <network host="smtp.gmail.com" port="587"
                 userName="grupopis08@gmail.com" password="grupopis2008" 
                 defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>